<div class="content" role="main" layout="row" flex>
  <div class="dashboard-container" flex>
    <mat-toolbar color="primary" class="fixed top-0 z-50">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Dashboard</span>
      <span class="mr-2"></span>
      <div class="date-picker-wrapper">
        <monthrange />
      </div>
    </mat-toolbar>

    <div class="mt-16">
      <mat-drawer-container autosize>
        <mat-drawer #drawer class="fixed mt-16 p-2" mode="side" opened>
          <h1>Chart Navigation</h1>
          <div class="flex flex-col">
            <a mat-button [routerLink]="'/dashboard'" fragment="temperature" (click)="scrollToElement('temperature')">Temperature Chart</a>
            <a mat-button [routerLink]="'/dashboard'" fragment="humidity" (click)="scrollToElement('humidity')">Humidity Chart</a>
            <a mat-button [routerLink]="'/dashboard'" fragment="light" (click)="scrollToElement('light')">Light Chart</a>
            <a mat-button [routerLink]="'/dashboard'" fragment="temperatureAndLight" (click)="scrollToElement('temperatureAndLight')">Temperature&Light Chart</a>
          </div>
        </mat-drawer>
        <mat-drawer-content class="p-2">
          <router-outlet></router-outlet>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
  </div>
</div>

<footer class="flex justify-center p-4">
  <p>Made by
    <a href="https://github.com/drewdru" class="underline">
      Drew Dru
    </a>
  </p>
</footer>
